<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The transaction has been done!</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h1>The transaction has been done! Expect your packet soon! Don't worry about the shipping address, we got your IP address  x) !!!</h1>

<h1></h1>

<a href="/" class="btn cta-buy">
                    Main Menu
                </a>


<a href="../phones/" class="btn cta-buy">
                    Phones
                </a>

<a href="../phones_shop/" class="btn cta-buy">
                    Shop
                </a>



<a href="../admin/" class="btn cta-buy">
                    admin_panel
                </a>
</body>
</html>
