{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Phones</title>
</head>
<body>
<form action="{% url 'create phone' %}"
      method="POST"
      enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button>Create</button>
</form>
<ul class="list">
    {% for phone in phones %}
        <li>
            {% if phone.selected_image %}
                <img src="{{ phone.selected_image.image.url }}"/>
            {% else %}
                <img src="{% static 'images/phone.jpg' %}"/>
            {% endif %}
            {{ phone.manufacturer }}
            {{ phone.model }}
        </li>
    {% endfor %}
</ul>
</body>
</html>
